.card-categoria {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    height: 20rem;
    padding: 1rem;
    border-radius: 2.4375rem;
    background: var(--terciaria, rgba(160, 237, 211, 0.80));
    text-decoration: none;
}

.card-categoria img {
    max-width: 100%;
    max-height: 90%;
}

.card-categoria span {
    color: #000;
    text-align: center;

    /* Subheader */
    font-family: Outfit;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.71875rem;
    /* 137.5% */
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}