.cabecalho-consulta-produto span {
    color: #000;
    text-align: center;

    /* Subheader */
    font-family: Outfit;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.71875rem;
    /* 137.5% */
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

.cabecalho-consulta-produto h2 {
    margin: 0 0 1rem 0;
    color: #000;

    /* H2 */
    font-family: Outfit;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 3.5rem */
    text-transform: capitalize;
}