.galeria-fotos-produto {    
    width: 50%;
    height: 25rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 13px 5px 40px 9px rgba(24, 24, 24, 0.29);
    background-color: var(--secundaria, #D4E8E1);
}

.galeria-fotos-produto .miniaturas {
    width: 29%;
    overflow-y: scroll;
    background: var(--primaria, #ABD9D9);
    padding: 0.3rem;
}

.galeria-fotos-produto .foto-principal {
    width: 70%;
    display: flex;
    justify-content: center;
    background: var(--secundaria, #D4E8E1);
    padding: 1rem;
}

.galeria-fotos-produto img {    
    max-width: 100%;
    max-height: auto;
    object-fit: contain;
}


/* Estilo para toda a barra de rolagem */
.galeria-fotos-produto .miniaturas::-webkit-scrollbar {
    width: 8px;
    /* Largura da barra de rolagem */
}

/* Estilo do trilho (background da barra) */
.galeria-fotos-produto .miniaturas::-webkit-scrollbar-track {
    background: var(--secundaria, #D4E8E1);
    /* Cor de fundo da barra */
    border-radius: 10px;
    /* Borda arredondada */
}

/* Estilo do "polegar" (a parte que se move) */
.galeria-fotos-produto .miniaturas::-webkit-scrollbar-thumb {
    background-color: var(--Titulos-h1, #6CAEAE);
    /* Cor do polegar */
    border-radius: 10px;
    /* Borda arredondada */
    border: 2px solid #f1f1f1;
    /* Opcional: borda ao redor do polegar */
}

/* Estilo do polegar ao passar o mouse */
.galeria-fotos-produto .miniaturas::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Cor ao passar o mouse */
}