.formulario-padrao h3 {
    color: #000;
    margin: 0;

    /* Subheader */
    font-family: Outfit;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.71875rem;
    /* 137.5% */
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

.agrupador {
    width: 100%;
    display: flex;
    justify-content: space-between;
}