.formulario-cadastro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin-top: 5rem;
}

.formulario-cadastro .formulario-cadastro__capa {
    width: 40%;
    height: 30rem;
    background-image: url('../../../public/imagens/capa-cadastro.png');
    background-size: cover;
    /* Faz a imagem cobrir toda a div */
    background-position: top;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    box-shadow: 10px 10px 50px 13px rgba(0, 0, 0, 0.25);
}

.formulario-cadastro .formulario-cadastro__campos {
    width: 40%;
}