.card-comentario {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 1rem 0;    
}

.card-comentario .card-comentario__autor {
    color: #000;
    text-align: center;

    /* Subheader */
    font-family: Outfit;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.71875rem;
    /* 137.5% */
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

.card-comentario .card-comentario__box {
    border-radius: 0.625rem;
    background: var(--terciaria, rgba(160, 237, 211, 0.80));
    padding: 1rem;
}

.card-comentario .card-comentario__box p {
    margin: 0;
}